replicaCount: 2

image:
  repository: nginx
  pullPolicy: IfNotPresent
  tag: latest

fullnameOverride: "service-a-staging"

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: ""
  hosts:
    - host: service-a-staging.local
      paths:
        - path: /
          pathType: Prefix

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
